
# All the addresses that don't refer to actual files are handled through index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)  index.php/$1  [L]

# Errors are presented by the controller named Errors
ErrorDocument 400  /index.php/errors
ErrorDocument 401  /index.php/errors
ErrorDocument 403  /index.php/errors
ErrorDocument 404  /index.php/errors
